
#caixacadastro {
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3),  /* Sombra preta suave */
    0px 2px 8px rgba(217, 217, 217, 0.5), /* Cinza claro mais disperso */
    0px 1px 4px rgba(255, 255, 255, 0.7); /* Realce branco delicado */  
    margin-bottom: 20px;
    border-radius: 8px;             
    padding: 20px;     
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    
}
label{
    text-align: center;
    color: #2C3E50;
}

.botao-confirm-cadastro {
    background-color: #009AED;
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 30px;
    color: white;
    margin-bottom: 10px;
}

#caixacadastro button:hover {
    background-color: #210ba0;
    transform: scale(1.1);
}

.config_cadastro {
    display: flex;
    flex-direction: row;
}

.formcadastro {
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form label {
    min-height: 35px !important;
}


@media (max-width: 768px) {
    .caixacadastro {
        top: 90%;
        left: 40%;
        transform: translate(-50%, -50%);
        width: auto;
        max-width: 300px;
        padding: 15px;

    }

    .caixacadastro h1 {
        margin-left: 0;
        margin-bottom: 1em;
        font-size: 1em;
        text-align: center;
    }

    form label {
        font-size: 12px;
    }


}

.form-control {
    display: inline-block;
}

.text-confirm {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}