/* Exemplo de animação para o menu lateral */
.bg-light {
    transition: transform 0.3s ease;
  }
  
  .bg-light.d-block {
    transform: translateX(0);
  }
  
  .bg-light.d-none {
    transform: translateX(-100%);
  }

.section-edition {
    height: 100vh;
    background-color: #2C3E50;
}

.bg-menu-mob {
    background-color: #2C3E50;
}

.btn-white {
    color: #ffffff; 
    border: 1px solid #ddd; 
  }
  
  .btn-white:hover {
    color: #ffffff;
    border: 1px solid #ddd; 
  }

.lista-crud-da-aplicacao {
  margin: 8px 0px;
} 

.lista-crud-da-aplicacao a {
  text-decoration: none;
  color: #ffffff;
}

.lista-crud-da-aplicacao a:hover {
  color: #E74C3C;
} 

.sair-gerenciamento {
  list-style: none;

}

.sair-gerenciamento .nav-item .nav-link {
  padding: 0px;
}